USE [master]
GO
/****** Object:  Database [DigitalLibraryDB]    Script Date: 1/27/2026 8:10:27 AM ******/
CREATE DATABASE [DigitalLibraryDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DigitalLibraryDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\DigitalLibraryDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DigitalLibraryDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\DigitalLibraryDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DigitalLibraryDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DigitalLibraryDB]
GO
/****** Object:  Table [dbo].[Author]    Script Date: 1/27/2026 8:10:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Author](
	[author_id] [int] IDENTITY(1,1) NOT NULL,
	[author_name] [nvarchar](255) NOT NULL,
	[bio] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[author_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Book]    Script Date: 1/27/2026 8:10:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Book](
	[book_id] [int] IDENTITY(1,1) NOT NULL,
	[title] [nvarchar](255) NOT NULL,
	[summary] [nvarchar](max) NULL,
	[description] [nvarchar](max) NULL,
	[cover_url] [nvarchar](255) NULL,
	[content_path] [nvarchar](500) NULL,
	[price] [decimal](10, 2) NULL,
	[currency] [nvarchar](10) NULL,
	[total_pages] [int] NULL,
	[preview_pages] [int] NULL,
	[status] [nvarchar](50) NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NULL,
	[author_id] [int] NULL,
	[category_id] [int] NULL,
	[created_by_employee_id] [int] NULL,
	[updated_by_employee_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[book_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BookCopy]    Script Date: 1/27/2026 8:10:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BookCopy](
	[copy_id] [int] IDENTITY(1,1) NOT NULL,
	[book_id] [int] NOT NULL,
	[copy_code] [nvarchar](100) NOT NULL,
	[status] [nvarchar](30) NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[copy_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Bookmark]    Script Date: 1/27/2026 8:10:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bookmark](
	[bookmark_id] [int] IDENTITY(1,1) NOT NULL,
	[reader_id] [int] NOT NULL,
	[book_id] [int] NOT NULL,
	[page_number] [int] NOT NULL,
	[note] [nvarchar](max) NULL,
	[created_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[bookmark_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Borrow]    Script Date: 1/27/2026 8:10:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Borrow](
	[borrow_id] [int] IDENTITY(1,1) NOT NULL,
	[reader_id] [int] NOT NULL,
	[request_id] [int] NULL,
	[borrow_date] [datetime2](7) NOT NULL,
	[status] [nvarchar](30) NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
	[approved_by_employee_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[borrow_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Borrow_Extend]    Script Date: 1/27/2026 8:10:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Borrow_Extend](
	[extend_id] [int] IDENTITY(1,1) NOT NULL,
	[borrow_item_id] [int] NOT NULL,
	[old_due_date] [datetime2](7) NOT NULL,
	[requested_due_date] [datetime2](7) NOT NULL,
	[approved_due_date] [datetime2](7) NULL,
	[status] [nvarchar](30) NOT NULL,
	[requested_at] [datetime2](7) NOT NULL,
	[processed_at] [datetime2](7) NULL,
	[decision_note] [nvarchar](max) NULL,
	[approved_by_employee_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[extend_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Borrow_Item]    Script Date: 1/27/2026 8:10:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Borrow_Item](
	[borrow_item_id] [int] IDENTITY(1,1) NOT NULL,
	[borrow_id] [int] NOT NULL,
	[copy_id] [int] NOT NULL,
	[due_date] [datetime2](7) NOT NULL,
	[returned_at] [datetime2](7) NULL,
	[status] [nvarchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[borrow_item_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Borrow_Request]    Script Date: 1/27/2026 8:10:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Borrow_Request](
	[request_id] [int] IDENTITY(1,1) NOT NULL,
	[reader_id] [int] NOT NULL,
	[status] [nvarchar](30) NOT NULL,
	[requested_at] [datetime2](7) NOT NULL,
	[note] [nvarchar](max) NULL,
	[processed_by_employee_id] [int] NULL,
	[processed_at] [datetime2](7) NULL,
	[decision_note] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[request_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Borrow_Request_Item]    Script Date: 1/27/2026 8:10:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Borrow_Request_Item](
	[request_item_id] [int] IDENTITY(1,1) NOT NULL,
	[request_id] [int] NOT NULL,
	[book_id] [int] NOT NULL,
	[quantity] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[request_item_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cart]    Script Date: 1/27/2026 8:10:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cart](
	[cart_id] [int] IDENTITY(1,1) NOT NULL,
	[reader_id] [int] NOT NULL,
	[status] [nvarchar](30) NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[cart_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cart_Item]    Script Date: 1/27/2026 8:10:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cart_Item](
	[cart_item_id] [int] IDENTITY(1,1) NOT NULL,
	[cart_id] [int] NOT NULL,
	[book_id] [int] NOT NULL,
	[quantity] [int] NOT NULL,
	[added_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[cart_item_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 1/27/2026 8:10:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[category_id] [int] IDENTITY(1,1) NOT NULL,
	[category_name] [nvarchar](255) NOT NULL,
	[description] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[category_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employee]    Script Date: 1/27/2026 8:10:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employee](
	[employee_id] [int] IDENTITY(1,1) NOT NULL,
	[full_name] [nvarchar](255) NULL,
	[email] [nvarchar](255) NOT NULL,
	[password_hash] [nvarchar](255) NOT NULL,
	[status] [nvarchar](50) NULL,
	[created_at] [datetime2](7) NOT NULL,
	[role_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[employee_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Fine]    Script Date: 1/27/2026 8:10:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Fine](
	[fine_id] [int] IDENTITY(1,1) NOT NULL,
	[reader_id] [int] NOT NULL,
	[borrow_item_id] [int] NOT NULL,
	[fine_type_id] [int] NOT NULL,
	[amount] [decimal](10, 2) NOT NULL,
	[reason] [nvarchar](max) NULL,
	[status] [nvarchar](30) NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
	[paid_at] [datetime2](7) NULL,
	[handled_by_employee_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[fine_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Fine_Type]    Script Date: 1/27/2026 8:10:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Fine_Type](
	[fine_type_id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[description] [nvarchar](max) NULL,
	[default_amount] [decimal](10, 2) NULL,
	[per_day_rate] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[fine_type_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notification]    Script Date: 1/27/2026 8:10:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notification](
	[notification_id] [int] IDENTITY(1,1) NOT NULL,
	[reader_id] [int] NOT NULL,
	[title] [nvarchar](255) NOT NULL,
	[message] [nvarchar](max) NULL,
	[type] [nvarchar](30) NULL,
	[is_read] [bit] NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[notification_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order]    Script Date: 1/27/2026 8:10:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[order_id] [int] IDENTITY(1,1) NOT NULL,
	[reader_id] [int] NOT NULL,
	[total_amount] [decimal](10, 2) NOT NULL,
	[currency] [nvarchar](10) NULL,
	[status] [nvarchar](30) NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[order_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order_Book]    Script Date: 1/27/2026 8:10:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order_Book](
	[order_book_id] [int] IDENTITY(1,1) NOT NULL,
	[order_id] [int] NOT NULL,
	[book_id] [int] NOT NULL,
	[price] [decimal](10, 2) NOT NULL,
	[quantity] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[order_book_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payment]    Script Date: 1/27/2026 8:10:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payment](
	[payment_id] [int] IDENTITY(1,1) NOT NULL,
	[order_id] [int] NOT NULL,
	[amount] [decimal](10, 2) NOT NULL,
	[payment_method] [nvarchar](50) NULL,
	[payment_status] [nvarchar](30) NOT NULL,
	[transaction_code] [nvarchar](100) NULL,
	[paid_at] [datetime2](7) NULL,
	[created_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[payment_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reader]    Script Date: 1/27/2026 8:10:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reader](
	[reader_id] [int] IDENTITY(1,1) NOT NULL,
	[full_name] [nvarchar](255) NULL,
	[email] [nvarchar](255) NOT NULL,
	[password_hash] [nvarchar](255) NOT NULL,
	[phone] [nvarchar](30) NULL,
	[avatar] [nvarchar](255) NULL,
	[status] [nvarchar](50) NULL,
	[created_at] [datetime2](7) NOT NULL,
	[role_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[reader_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reader_Account]    Script Date: 1/27/2026 8:10:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reader_Account](
	[account_id] [int] IDENTITY(1,1) NOT NULL,
	[reader_id] [int] NOT NULL,
	[provider] [nvarchar](50) NOT NULL,
	[provider_user_id] [nvarchar](255) NULL,
	[created_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[account_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reader_Book_Ownership]    Script Date: 1/27/2026 8:10:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reader_Book_Ownership](
	[ownership_id] [int] IDENTITY(1,1) NOT NULL,
	[reader_id] [int] NOT NULL,
	[book_id] [int] NOT NULL,
	[acquired_at] [datetime2](7) NOT NULL,
	[acquired_via] [nvarchar](30) NULL,
	[status] [nvarchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[ownership_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reading_History]    Script Date: 1/27/2026 8:10:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reading_History](
	[history_id] [int] IDENTITY(1,1) NOT NULL,
	[reader_id] [int] NOT NULL,
	[book_id] [int] NOT NULL,
	[last_read_position] [int] NULL,
	[last_read_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[history_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reservation]    Script Date: 1/27/2026 8:10:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reservation](
	[reservation_id] [int] IDENTITY(1,1) NOT NULL,
	[reader_id] [int] NOT NULL,
	[status] [nvarchar](30) NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
	[expires_at] [datetime2](7) NULL,
	[fulfilled_at] [datetime2](7) NULL,
	[note] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[reservation_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reservation_Item]    Script Date: 1/27/2026 8:10:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reservation_Item](
	[reservation_item_id] [int] IDENTITY(1,1) NOT NULL,
	[reservation_id] [int] NOT NULL,
	[book_id] [int] NOT NULL,
	[quantity] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[reservation_item_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Review]    Script Date: 1/27/2026 8:10:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Review](
	[review_id] [int] IDENTITY(1,1) NOT NULL,
	[reader_id] [int] NOT NULL,
	[book_id] [int] NOT NULL,
	[rating] [int] NULL,
	[comment] [nvarchar](max) NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[review_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 1/27/2026 8:10:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[role_id] [int] IDENTITY(1,1) NOT NULL,
	[role_name] [nvarchar](30) NOT NULL,
	[description] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[role_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Author] ON 

INSERT [dbo].[Author] ([author_id], [author_name], [bio]) VALUES (1, N'Nguyễn Nhật Ánh', NULL)
INSERT [dbo].[Author] ([author_id], [author_name], [bio]) VALUES (2, N'J.K. Rowling', NULL)
SET IDENTITY_INSERT [dbo].[Author] OFF
GO
SET IDENTITY_INSERT [dbo].[Book] ON 

INSERT [dbo].[Book] ([book_id], [title], [summary], [description], [cover_url], [content_path], [price], [currency], [total_pages], [preview_pages], [status], [created_at], [updated_at], [author_id], [category_id], [created_by_employee_id], [updated_by_employee_id]) VALUES (1, N'Cho tôi xin một vé đi tuổi thơ', N'Sách thiếu nhi', NULL, N'/img/1.jpg', NULL, CAST(50000.00 AS Decimal(10, 2)), N'VND', 200, NULL, N'active', CAST(N'2026-01-23T06:30:57.2090746' AS DateTime2), NULL, 1, 1, 1, NULL)
INSERT [dbo].[Book] ([book_id], [title], [summary], [description], [cover_url], [content_path], [price], [currency], [total_pages], [preview_pages], [status], [created_at], [updated_at], [author_id], [category_id], [created_by_employee_id], [updated_by_employee_id]) VALUES (2, N'Harry Potter 1', N'Fantasy nổi tiếng', NULL, N'/img/2.jpg', NULL, CAST(120000.00 AS Decimal(10, 2)), N'VND', 350, NULL, N'active', CAST(N'2026-01-23T06:30:57.2090746' AS DateTime2), NULL, 2, 2, 1, NULL)
INSERT [dbo].[Book] ([book_id], [title], [summary], [description], [cover_url], [content_path], [price], [currency], [total_pages], [preview_pages], [status], [created_at], [updated_at], [author_id], [category_id], [created_by_employee_id], [updated_by_employee_id]) VALUES (3, N'Lập trình SQL cơ bản', N'Sách học SQL', NULL, N'/img/3.jpg', NULL, CAST(80000.00 AS Decimal(10, 2)), N'VND', 250, NULL, N'active', CAST(N'2026-01-23T06:30:57.2090746' AS DateTime2), NULL, 1, 3, 2, NULL)
SET IDENTITY_INSERT [dbo].[Book] OFF
GO
SET IDENTITY_INSERT [dbo].[BookCopy] ON 

INSERT [dbo].[BookCopy] ([copy_id], [book_id], [copy_code], [status], [created_at]) VALUES (1, 1, N'CP-001', N'available', CAST(N'2026-01-23T06:30:57.2110609' AS DateTime2))
INSERT [dbo].[BookCopy] ([copy_id], [book_id], [copy_code], [status], [created_at]) VALUES (2, 1, N'CP-002', N'borrowed', CAST(N'2026-01-23T06:30:57.2110609' AS DateTime2))
INSERT [dbo].[BookCopy] ([copy_id], [book_id], [copy_code], [status], [created_at]) VALUES (3, 2, N'CP-003', N'available', CAST(N'2026-01-23T06:30:57.2110609' AS DateTime2))
SET IDENTITY_INSERT [dbo].[BookCopy] OFF
GO
SET IDENTITY_INSERT [dbo].[Bookmark] ON 

INSERT [dbo].[Bookmark] ([bookmark_id], [reader_id], [book_id], [page_number], [note], [created_at]) VALUES (1, 1, 2, 45, N'Đoạn hay', CAST(N'2026-01-23T06:30:57.2607375' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Bookmark] OFF
GO
SET IDENTITY_INSERT [dbo].[Borrow] ON 

INSERT [dbo].[Borrow] ([borrow_id], [reader_id], [request_id], [borrow_date], [status], [created_at], [approved_by_employee_id]) VALUES (1, 2, 1, CAST(N'2026-01-23T06:30:57.2431903' AS DateTime2), N'active', CAST(N'2026-01-23T06:30:57.2431903' AS DateTime2), 2)
SET IDENTITY_INSERT [dbo].[Borrow] OFF
GO
SET IDENTITY_INSERT [dbo].[Borrow_Extend] ON 

INSERT [dbo].[Borrow_Extend] ([extend_id], [borrow_item_id], [old_due_date], [requested_due_date], [approved_due_date], [status], [requested_at], [processed_at], [decision_note], [approved_by_employee_id]) VALUES (1, 1, CAST(N'2026-01-30T06:30:57.2461895' AS DateTime2), CAST(N'2026-02-06T06:30:57.2461895' AS DateTime2), NULL, N'approved', CAST(N'2026-01-23T06:30:57.2461895' AS DateTime2), NULL, NULL, 2)
SET IDENTITY_INSERT [dbo].[Borrow_Extend] OFF
GO
SET IDENTITY_INSERT [dbo].[Borrow_Item] ON 

INSERT [dbo].[Borrow_Item] ([borrow_item_id], [borrow_id], [copy_id], [due_date], [returned_at], [status]) VALUES (1, 1, 2, CAST(N'2026-01-30T06:30:57.2451740' AS DateTime2), NULL, N'borrowed')
SET IDENTITY_INSERT [dbo].[Borrow_Item] OFF
GO
SET IDENTITY_INSERT [dbo].[Borrow_Request] ON 

INSERT [dbo].[Borrow_Request] ([request_id], [reader_id], [status], [requested_at], [note], [processed_by_employee_id], [processed_at], [decision_note]) VALUES (1, 2, N'approved', CAST(N'2026-01-23T06:30:57.2406444' AS DateTime2), N'Mượn sách Harry Potter', NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Borrow_Request] OFF
GO
SET IDENTITY_INSERT [dbo].[Borrow_Request_Item] ON 

INSERT [dbo].[Borrow_Request_Item] ([request_item_id], [request_id], [book_id], [quantity]) VALUES (1, 1, 2, 1)
SET IDENTITY_INSERT [dbo].[Borrow_Request_Item] OFF
GO
SET IDENTITY_INSERT [dbo].[Cart] ON 

INSERT [dbo].[Cart] ([cart_id], [reader_id], [status], [created_at], [updated_at]) VALUES (1, 1, N'active', CAST(N'2026-01-23T06:30:57.2155411' AS DateTime2), NULL)
SET IDENTITY_INSERT [dbo].[Cart] OFF
GO
SET IDENTITY_INSERT [dbo].[Cart_Item] ON 

INSERT [dbo].[Cart_Item] ([cart_item_id], [cart_id], [book_id], [quantity], [added_at]) VALUES (1, 1, 2, 1, CAST(N'2026-01-23T06:30:57.2175428' AS DateTime2))
INSERT [dbo].[Cart_Item] ([cart_item_id], [cart_id], [book_id], [quantity], [added_at]) VALUES (2, 1, 3, 1, CAST(N'2026-01-23T06:30:57.2175428' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Cart_Item] OFF
GO
SET IDENTITY_INSERT [dbo].[Category] ON 

INSERT [dbo].[Category] ([category_id], [category_name], [description]) VALUES (1, N'Thiếu nhi', NULL)
INSERT [dbo].[Category] ([category_id], [category_name], [description]) VALUES (2, N'Fantasy', NULL)
INSERT [dbo].[Category] ([category_id], [category_name], [description]) VALUES (3, N'Công nghệ', NULL)
SET IDENTITY_INSERT [dbo].[Category] OFF
GO
SET IDENTITY_INSERT [dbo].[Employee] ON 

INSERT [dbo].[Employee] ([employee_id], [full_name], [email], [password_hash], [status], [created_at], [role_id]) VALUES (1, N'Admin System', N'admin@lib.com', N'hash_admin', N'active', CAST(N'2026-01-23T06:30:57.1784127' AS DateTime2), 1)
INSERT [dbo].[Employee] ([employee_id], [full_name], [email], [password_hash], [status], [created_at], [role_id]) VALUES (2, N'Librarian A', N'librarian@lib.com', N'hash_librarian', N'active', CAST(N'2026-01-23T06:30:57.1784127' AS DateTime2), 2)
INSERT [dbo].[Employee] ([employee_id], [full_name], [email], [password_hash], [status], [created_at], [role_id]) VALUES (3, N'Nhat Ngoc', N'nhatngocvip@gmail.com', N'$2a$10$CqfyZYFK2PXQeHb1qzpV8OtgSRXbZLcY3mHgUDqbRQYHYVZFbCbSW', N'active', CAST(N'2026-01-24T04:56:29.8759309' AS DateTime2), 1)
SET IDENTITY_INSERT [dbo].[Employee] OFF
GO
SET IDENTITY_INSERT [dbo].[Fine] ON 

INSERT [dbo].[Fine] ([fine_id], [reader_id], [borrow_item_id], [fine_type_id], [amount], [reason], [status], [created_at], [paid_at], [handled_by_employee_id]) VALUES (1, 2, 1, 1, CAST(15000.00 AS Decimal(10, 2)), NULL, N'unpaid', CAST(N'2026-01-23T06:30:57.2587376' AS DateTime2), NULL, NULL)
SET IDENTITY_INSERT [dbo].[Fine] OFF
GO
SET IDENTITY_INSERT [dbo].[Fine_Type] ON 

INSERT [dbo].[Fine_Type] ([fine_type_id], [name], [description], [default_amount], [per_day_rate]) VALUES (1, N'late_return', NULL, CAST(10000.00 AS Decimal(10, 2)), CAST(5000.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[Fine_Type] OFF
GO
SET IDENTITY_INSERT [dbo].[Notification] ON 

INSERT [dbo].[Notification] ([notification_id], [reader_id], [title], [message], [type], [is_read], [created_at]) VALUES (1, 1, N'Đơn hàng thành công', N'Bạn đã mua sách thành công', N'order', 0, CAST(N'2026-01-23T06:30:57.2638848' AS DateTime2))
INSERT [dbo].[Notification] ([notification_id], [reader_id], [title], [message], [type], [is_read], [created_at]) VALUES (2, 2, N'Quá hạn mượn', N'Sách sắp đến hạn trả', N'borrow', 0, CAST(N'2026-01-23T06:30:57.2638848' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Notification] OFF
GO
SET IDENTITY_INSERT [dbo].[Order] ON 

INSERT [dbo].[Order] ([order_id], [reader_id], [total_amount], [currency], [status], [created_at]) VALUES (1, 1, CAST(200000.00 AS Decimal(10, 2)), N'VND', N'paid', CAST(N'2026-01-23T06:30:57.2185410' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Order] OFF
GO
SET IDENTITY_INSERT [dbo].[Order_Book] ON 

INSERT [dbo].[Order_Book] ([order_book_id], [order_id], [book_id], [price], [quantity]) VALUES (1, 1, 2, CAST(120000.00 AS Decimal(10, 2)), 1)
INSERT [dbo].[Order_Book] ([order_book_id], [order_id], [book_id], [price], [quantity]) VALUES (2, 1, 3, CAST(80000.00 AS Decimal(10, 2)), 1)
SET IDENTITY_INSERT [dbo].[Order_Book] OFF
GO
SET IDENTITY_INSERT [dbo].[Payment] ON 

INSERT [dbo].[Payment] ([payment_id], [order_id], [amount], [payment_method], [payment_status], [transaction_code], [paid_at], [created_at]) VALUES (1, 1, CAST(200000.00 AS Decimal(10, 2)), N'VNPay', N'success', N'TXN001', NULL, CAST(N'2026-01-23T06:30:57.2251008' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Payment] OFF
GO
SET IDENTITY_INSERT [dbo].[Reader] ON 

INSERT [dbo].[Reader] ([reader_id], [full_name], [email], [password_hash], [phone], [avatar], [status], [created_at], [role_id]) VALUES (1, N'Nguyen Van A', N'a@mail.com', N'hash_a', N'090000001', NULL, N'active', CAST(N'2026-01-23T06:30:57.1819661' AS DateTime2), 4)
INSERT [dbo].[Reader] ([reader_id], [full_name], [email], [password_hash], [phone], [avatar], [status], [created_at], [role_id]) VALUES (2, N'Tran Thi B', N'b@mail.com', N'hash_b', N'090000002', NULL, N'active', CAST(N'2026-01-23T06:30:57.1819661' AS DateTime2), 4)
INSERT [dbo].[Reader] ([reader_id], [full_name], [email], [password_hash], [phone], [avatar], [status], [created_at], [role_id]) VALUES (3, N'Le Van C', N'c@mail.com', N'hash_c', N'090000003', NULL, N'active', CAST(N'2026-01-23T06:30:57.1819661' AS DateTime2), 4)
SET IDENTITY_INSERT [dbo].[Reader] OFF
GO
SET IDENTITY_INSERT [dbo].[Reader_Account] ON 

INSERT [dbo].[Reader_Account] ([account_id], [reader_id], [provider], [provider_user_id], [created_at]) VALUES (1, 1, N'local', NULL, CAST(N'2026-01-23T06:30:57.1859808' AS DateTime2))
INSERT [dbo].[Reader_Account] ([account_id], [reader_id], [provider], [provider_user_id], [created_at]) VALUES (2, 2, N'google', N'google_123', CAST(N'2026-01-23T06:30:57.1859808' AS DateTime2))
INSERT [dbo].[Reader_Account] ([account_id], [reader_id], [provider], [provider_user_id], [created_at]) VALUES (3, 3, N'facebook', N'fb_456', CAST(N'2026-01-23T06:30:57.1859808' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Reader_Account] OFF
GO
SET IDENTITY_INSERT [dbo].[Reader_Book_Ownership] ON 

INSERT [dbo].[Reader_Book_Ownership] ([ownership_id], [reader_id], [book_id], [acquired_at], [acquired_via], [status]) VALUES (1, 1, 2, CAST(N'2026-01-23T06:30:57.2311003' AS DateTime2), N'order', N'active')
INSERT [dbo].[Reader_Book_Ownership] ([ownership_id], [reader_id], [book_id], [acquired_at], [acquired_via], [status]) VALUES (2, 1, 3, CAST(N'2026-01-23T06:30:57.2311003' AS DateTime2), N'order', N'active')
SET IDENTITY_INSERT [dbo].[Reader_Book_Ownership] OFF
GO
SET IDENTITY_INSERT [dbo].[Reading_History] ON 

INSERT [dbo].[Reading_History] ([history_id], [reader_id], [book_id], [last_read_position], [last_read_at]) VALUES (1, 1, 2, 120, NULL)
INSERT [dbo].[Reading_History] ([history_id], [reader_id], [book_id], [last_read_position], [last_read_at]) VALUES (2, 1, 3, 50, NULL)
SET IDENTITY_INSERT [dbo].[Reading_History] OFF
GO
SET IDENTITY_INSERT [dbo].[Reservation] ON 

INSERT [dbo].[Reservation] ([reservation_id], [reader_id], [status], [created_at], [expires_at], [fulfilled_at], [note]) VALUES (1, 3, N'active', CAST(N'2026-01-23T06:30:57.2688833' AS DateTime2), CAST(N'2026-01-26T06:30:57.2688833' AS DateTime2), NULL, NULL)
SET IDENTITY_INSERT [dbo].[Reservation] OFF
GO
SET IDENTITY_INSERT [dbo].[Reservation_Item] ON 

INSERT [dbo].[Reservation_Item] ([reservation_item_id], [reservation_id], [book_id], [quantity]) VALUES (1, 1, 2, 1)
SET IDENTITY_INSERT [dbo].[Reservation_Item] OFF
GO
SET IDENTITY_INSERT [dbo].[Review] ON 

INSERT [dbo].[Review] ([review_id], [reader_id], [book_id], [rating], [comment], [created_at], [updated_at]) VALUES (1, 1, 2, 5, N'Rất hay', CAST(N'2026-01-23T06:30:57.2618732' AS DateTime2), NULL)
INSERT [dbo].[Review] ([review_id], [reader_id], [book_id], [rating], [comment], [created_at], [updated_at]) VALUES (2, 2, 2, 4, N'Truyện hấp dẫn', CAST(N'2026-01-23T06:30:57.2618732' AS DateTime2), NULL)
SET IDENTITY_INSERT [dbo].[Review] OFF
GO
SET IDENTITY_INSERT [dbo].[Role] ON 

INSERT [dbo].[Role] ([role_id], [role_name], [description]) VALUES (1, N'ADMIN', N'Administrator')
INSERT [dbo].[Role] ([role_id], [role_name], [description]) VALUES (2, N'LIBRARIAN', N'Librarian')
INSERT [dbo].[Role] ([role_id], [role_name], [description]) VALUES (3, N'SELLER', N'Seller')
SET IDENTITY_INSERT [dbo].[Role] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__BookCopy__5196394FFA803565]    Script Date: 1/27/2026 8:10:28 AM ******/
ALTER TABLE [dbo].[BookCopy] ADD UNIQUE NONCLUSTERED 
(
	[copy_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__Borrow__18D3B90E3370BCEF]    Script Date: 1/27/2026 8:10:28 AM ******/
ALTER TABLE [dbo].[Borrow] ADD UNIQUE NONCLUSTERED 
(
	[request_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Employee__AB6E61647F93DCE5]    Script Date: 1/27/2026 8:10:28 AM ******/
ALTER TABLE [dbo].[Employee] ADD UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Reader__AB6E6164C625F506]    Script Date: 1/27/2026 8:10:28 AM ******/
ALTER TABLE [dbo].[Reader] ADD UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Role__783254B14E9BDF75]    Script Date: 1/27/2026 8:10:28 AM ******/
ALTER TABLE [dbo].[Role] ADD UNIQUE NONCLUSTERED 
(
	[role_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Book] ADD  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[BookCopy] ADD  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[Bookmark] ADD  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[Borrow] ADD  DEFAULT (sysutcdatetime()) FOR [borrow_date]
GO
ALTER TABLE [dbo].[Borrow] ADD  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[Borrow_Extend] ADD  DEFAULT (sysutcdatetime()) FOR [requested_at]
GO
ALTER TABLE [dbo].[Borrow_Request] ADD  DEFAULT (sysutcdatetime()) FOR [requested_at]
GO
ALTER TABLE [dbo].[Borrow_Request_Item] ADD  DEFAULT ((1)) FOR [quantity]
GO
ALTER TABLE [dbo].[Cart] ADD  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[Cart_Item] ADD  DEFAULT ((1)) FOR [quantity]
GO
ALTER TABLE [dbo].[Cart_Item] ADD  DEFAULT (sysutcdatetime()) FOR [added_at]
GO
ALTER TABLE [dbo].[Employee] ADD  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[Fine] ADD  DEFAULT ((0)) FOR [amount]
GO
ALTER TABLE [dbo].[Fine] ADD  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[Notification] ADD  DEFAULT ((0)) FOR [is_read]
GO
ALTER TABLE [dbo].[Notification] ADD  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[Order] ADD  DEFAULT ((0)) FOR [total_amount]
GO
ALTER TABLE [dbo].[Order] ADD  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[Order_Book] ADD  DEFAULT ((0)) FOR [price]
GO
ALTER TABLE [dbo].[Order_Book] ADD  DEFAULT ((1)) FOR [quantity]
GO
ALTER TABLE [dbo].[Payment] ADD  DEFAULT ((0)) FOR [amount]
GO
ALTER TABLE [dbo].[Payment] ADD  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[Reader] ADD  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[Reader_Account] ADD  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[Reader_Book_Ownership] ADD  DEFAULT (sysutcdatetime()) FOR [acquired_at]
GO
ALTER TABLE [dbo].[Reservation] ADD  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[Reservation_Item] ADD  DEFAULT ((1)) FOR [quantity]
GO
ALTER TABLE [dbo].[Review] ADD  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[Book]  WITH CHECK ADD  CONSTRAINT [FK_Book_Author] FOREIGN KEY([author_id])
REFERENCES [dbo].[Author] ([author_id])
GO
ALTER TABLE [dbo].[Book] CHECK CONSTRAINT [FK_Book_Author]
GO
ALTER TABLE [dbo].[Book]  WITH CHECK ADD  CONSTRAINT [FK_Book_Category] FOREIGN KEY([category_id])
REFERENCES [dbo].[Category] ([category_id])
GO
ALTER TABLE [dbo].[Book] CHECK CONSTRAINT [FK_Book_Category]
GO
ALTER TABLE [dbo].[Book]  WITH CHECK ADD  CONSTRAINT [FK_Book_CreatedBy] FOREIGN KEY([created_by_employee_id])
REFERENCES [dbo].[Employee] ([employee_id])
GO
ALTER TABLE [dbo].[Book] CHECK CONSTRAINT [FK_Book_CreatedBy]
GO
ALTER TABLE [dbo].[Book]  WITH CHECK ADD  CONSTRAINT [FK_Book_UpdatedBy] FOREIGN KEY([updated_by_employee_id])
REFERENCES [dbo].[Employee] ([employee_id])
GO
ALTER TABLE [dbo].[Book] CHECK CONSTRAINT [FK_Book_UpdatedBy]
GO
ALTER TABLE [dbo].[BookCopy]  WITH CHECK ADD  CONSTRAINT [FK_BookCopy_Book] FOREIGN KEY([book_id])
REFERENCES [dbo].[Book] ([book_id])
GO
ALTER TABLE [dbo].[BookCopy] CHECK CONSTRAINT [FK_BookCopy_Book]
GO
ALTER TABLE [dbo].[Bookmark]  WITH CHECK ADD  CONSTRAINT [FK_Bookmark_Book] FOREIGN KEY([book_id])
REFERENCES [dbo].[Book] ([book_id])
GO
ALTER TABLE [dbo].[Bookmark] CHECK CONSTRAINT [FK_Bookmark_Book]
GO
ALTER TABLE [dbo].[Bookmark]  WITH CHECK ADD  CONSTRAINT [FK_Bookmark_Reader] FOREIGN KEY([reader_id])
REFERENCES [dbo].[Reader] ([reader_id])
GO
ALTER TABLE [dbo].[Bookmark] CHECK CONSTRAINT [FK_Bookmark_Reader]
GO
ALTER TABLE [dbo].[Borrow]  WITH CHECK ADD  CONSTRAINT [FK_Borrow_ApprovedBy] FOREIGN KEY([approved_by_employee_id])
REFERENCES [dbo].[Employee] ([employee_id])
GO
ALTER TABLE [dbo].[Borrow] CHECK CONSTRAINT [FK_Borrow_ApprovedBy]
GO
ALTER TABLE [dbo].[Borrow]  WITH CHECK ADD  CONSTRAINT [FK_Borrow_Reader] FOREIGN KEY([reader_id])
REFERENCES [dbo].[Reader] ([reader_id])
GO
ALTER TABLE [dbo].[Borrow] CHECK CONSTRAINT [FK_Borrow_Reader]
GO
ALTER TABLE [dbo].[Borrow]  WITH CHECK ADD  CONSTRAINT [FK_Borrow_Request] FOREIGN KEY([request_id])
REFERENCES [dbo].[Borrow_Request] ([request_id])
GO
ALTER TABLE [dbo].[Borrow] CHECK CONSTRAINT [FK_Borrow_Request]
GO
ALTER TABLE [dbo].[Borrow_Extend]  WITH CHECK ADD  CONSTRAINT [FK_Extend_ApprovedBy] FOREIGN KEY([approved_by_employee_id])
REFERENCES [dbo].[Employee] ([employee_id])
GO
ALTER TABLE [dbo].[Borrow_Extend] CHECK CONSTRAINT [FK_Extend_ApprovedBy]
GO
ALTER TABLE [dbo].[Borrow_Extend]  WITH CHECK ADD  CONSTRAINT [FK_Extend_BorrowItem] FOREIGN KEY([borrow_item_id])
REFERENCES [dbo].[Borrow_Item] ([borrow_item_id])
GO
ALTER TABLE [dbo].[Borrow_Extend] CHECK CONSTRAINT [FK_Extend_BorrowItem]
GO
ALTER TABLE [dbo].[Borrow_Item]  WITH CHECK ADD  CONSTRAINT [FK_BorrowItem_Borrow] FOREIGN KEY([borrow_id])
REFERENCES [dbo].[Borrow] ([borrow_id])
GO
ALTER TABLE [dbo].[Borrow_Item] CHECK CONSTRAINT [FK_BorrowItem_Borrow]
GO
ALTER TABLE [dbo].[Borrow_Item]  WITH CHECK ADD  CONSTRAINT [FK_BorrowItem_Copy] FOREIGN KEY([copy_id])
REFERENCES [dbo].[BookCopy] ([copy_id])
GO
ALTER TABLE [dbo].[Borrow_Item] CHECK CONSTRAINT [FK_BorrowItem_Copy]
GO
ALTER TABLE [dbo].[Borrow_Request]  WITH CHECK ADD  CONSTRAINT [FK_BorrowRequest_ProcessedBy] FOREIGN KEY([processed_by_employee_id])
REFERENCES [dbo].[Employee] ([employee_id])
GO
ALTER TABLE [dbo].[Borrow_Request] CHECK CONSTRAINT [FK_BorrowRequest_ProcessedBy]
GO
ALTER TABLE [dbo].[Borrow_Request]  WITH CHECK ADD  CONSTRAINT [FK_BorrowRequest_Reader] FOREIGN KEY([reader_id])
REFERENCES [dbo].[Reader] ([reader_id])
GO
ALTER TABLE [dbo].[Borrow_Request] CHECK CONSTRAINT [FK_BorrowRequest_Reader]
GO
ALTER TABLE [dbo].[Borrow_Request_Item]  WITH CHECK ADD  CONSTRAINT [FK_BRItem_Book] FOREIGN KEY([book_id])
REFERENCES [dbo].[Book] ([book_id])
GO
ALTER TABLE [dbo].[Borrow_Request_Item] CHECK CONSTRAINT [FK_BRItem_Book]
GO
ALTER TABLE [dbo].[Borrow_Request_Item]  WITH CHECK ADD  CONSTRAINT [FK_BRItem_Request] FOREIGN KEY([request_id])
REFERENCES [dbo].[Borrow_Request] ([request_id])
GO
ALTER TABLE [dbo].[Borrow_Request_Item] CHECK CONSTRAINT [FK_BRItem_Request]
GO
ALTER TABLE [dbo].[Cart]  WITH CHECK ADD  CONSTRAINT [FK_Cart_Reader] FOREIGN KEY([reader_id])
REFERENCES [dbo].[Reader] ([reader_id])
GO
ALTER TABLE [dbo].[Cart] CHECK CONSTRAINT [FK_Cart_Reader]
GO
ALTER TABLE [dbo].[Cart_Item]  WITH CHECK ADD  CONSTRAINT [FK_CartItem_Book] FOREIGN KEY([book_id])
REFERENCES [dbo].[Book] ([book_id])
GO
ALTER TABLE [dbo].[Cart_Item] CHECK CONSTRAINT [FK_CartItem_Book]
GO
ALTER TABLE [dbo].[Cart_Item]  WITH CHECK ADD  CONSTRAINT [FK_CartItem_Cart] FOREIGN KEY([cart_id])
REFERENCES [dbo].[Cart] ([cart_id])
GO
ALTER TABLE [dbo].[Cart_Item] CHECK CONSTRAINT [FK_CartItem_Cart]
GO
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD  CONSTRAINT [FK_Employee_Role] FOREIGN KEY([role_id])
REFERENCES [dbo].[Role] ([role_id])
GO
ALTER TABLE [dbo].[Employee] CHECK CONSTRAINT [FK_Employee_Role]
GO
ALTER TABLE [dbo].[Fine]  WITH CHECK ADD  CONSTRAINT [FK_Fine_BorrowItem] FOREIGN KEY([borrow_item_id])
REFERENCES [dbo].[Borrow_Item] ([borrow_item_id])
GO
ALTER TABLE [dbo].[Fine] CHECK CONSTRAINT [FK_Fine_BorrowItem]
GO
ALTER TABLE [dbo].[Fine]  WITH CHECK ADD  CONSTRAINT [FK_Fine_HandledBy] FOREIGN KEY([handled_by_employee_id])
REFERENCES [dbo].[Employee] ([employee_id])
GO
ALTER TABLE [dbo].[Fine] CHECK CONSTRAINT [FK_Fine_HandledBy]
GO
ALTER TABLE [dbo].[Fine]  WITH CHECK ADD  CONSTRAINT [FK_Fine_Reader] FOREIGN KEY([reader_id])
REFERENCES [dbo].[Reader] ([reader_id])
GO
ALTER TABLE [dbo].[Fine] CHECK CONSTRAINT [FK_Fine_Reader]
GO
ALTER TABLE [dbo].[Fine]  WITH CHECK ADD  CONSTRAINT [FK_Fine_Type] FOREIGN KEY([fine_type_id])
REFERENCES [dbo].[Fine_Type] ([fine_type_id])
GO
ALTER TABLE [dbo].[Fine] CHECK CONSTRAINT [FK_Fine_Type]
GO
ALTER TABLE [dbo].[Notification]  WITH CHECK ADD  CONSTRAINT [FK_Notification_Reader] FOREIGN KEY([reader_id])
REFERENCES [dbo].[Reader] ([reader_id])
GO
ALTER TABLE [dbo].[Notification] CHECK CONSTRAINT [FK_Notification_Reader]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_Reader] FOREIGN KEY([reader_id])
REFERENCES [dbo].[Reader] ([reader_id])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_Reader]
GO
ALTER TABLE [dbo].[Order_Book]  WITH CHECK ADD  CONSTRAINT [FK_OrderBook_Book] FOREIGN KEY([book_id])
REFERENCES [dbo].[Book] ([book_id])
GO
ALTER TABLE [dbo].[Order_Book] CHECK CONSTRAINT [FK_OrderBook_Book]
GO
ALTER TABLE [dbo].[Order_Book]  WITH CHECK ADD  CONSTRAINT [FK_OrderBook_Order] FOREIGN KEY([order_id])
REFERENCES [dbo].[Order] ([order_id])
GO
ALTER TABLE [dbo].[Order_Book] CHECK CONSTRAINT [FK_OrderBook_Order]
GO
ALTER TABLE [dbo].[Payment]  WITH CHECK ADD  CONSTRAINT [FK_Payment_Order] FOREIGN KEY([order_id])
REFERENCES [dbo].[Order] ([order_id])
GO
ALTER TABLE [dbo].[Payment] CHECK CONSTRAINT [FK_Payment_Order]
GO
ALTER TABLE [dbo].[Reader]  WITH CHECK ADD  CONSTRAINT [FK_Reader_Role] FOREIGN KEY([role_id])
REFERENCES [dbo].[Role] ([role_id])
GO
ALTER TABLE [dbo].[Reader] CHECK CONSTRAINT [FK_Reader_Role]
GO
ALTER TABLE [dbo].[Reader_Account]  WITH CHECK ADD  CONSTRAINT [FK_ReaderAccount_Reader] FOREIGN KEY([reader_id])
REFERENCES [dbo].[Reader] ([reader_id])
GO
ALTER TABLE [dbo].[Reader_Account] CHECK CONSTRAINT [FK_ReaderAccount_Reader]
GO
ALTER TABLE [dbo].[Reader_Book_Ownership]  WITH CHECK ADD  CONSTRAINT [FK_Ownership_Book] FOREIGN KEY([book_id])
REFERENCES [dbo].[Book] ([book_id])
GO
ALTER TABLE [dbo].[Reader_Book_Ownership] CHECK CONSTRAINT [FK_Ownership_Book]
GO
ALTER TABLE [dbo].[Reader_Book_Ownership]  WITH CHECK ADD  CONSTRAINT [FK_Ownership_Reader] FOREIGN KEY([reader_id])
REFERENCES [dbo].[Reader] ([reader_id])
GO
ALTER TABLE [dbo].[Reader_Book_Ownership] CHECK CONSTRAINT [FK_Ownership_Reader]
GO
ALTER TABLE [dbo].[Reading_History]  WITH CHECK ADD  CONSTRAINT [FK_ReadHistory_Book] FOREIGN KEY([book_id])
REFERENCES [dbo].[Book] ([book_id])
GO
ALTER TABLE [dbo].[Reading_History] CHECK CONSTRAINT [FK_ReadHistory_Book]
GO
ALTER TABLE [dbo].[Reading_History]  WITH CHECK ADD  CONSTRAINT [FK_ReadHistory_Reader] FOREIGN KEY([reader_id])
REFERENCES [dbo].[Reader] ([reader_id])
GO
ALTER TABLE [dbo].[Reading_History] CHECK CONSTRAINT [FK_ReadHistory_Reader]
GO
ALTER TABLE [dbo].[Reservation]  WITH CHECK ADD  CONSTRAINT [FK_Reservation_Reader] FOREIGN KEY([reader_id])
REFERENCES [dbo].[Reader] ([reader_id])
GO
ALTER TABLE [dbo].[Reservation] CHECK CONSTRAINT [FK_Reservation_Reader]
GO
ALTER TABLE [dbo].[Reservation_Item]  WITH CHECK ADD  CONSTRAINT [FK_ReservationItem_Book] FOREIGN KEY([book_id])
REFERENCES [dbo].[Book] ([book_id])
GO
ALTER TABLE [dbo].[Reservation_Item] CHECK CONSTRAINT [FK_ReservationItem_Book]
GO
ALTER TABLE [dbo].[Reservation_Item]  WITH CHECK ADD  CONSTRAINT [FK_ReservationItem_Reservation] FOREIGN KEY([reservation_id])
REFERENCES [dbo].[Reservation] ([reservation_id])
GO
ALTER TABLE [dbo].[Reservation_Item] CHECK CONSTRAINT [FK_ReservationItem_Reservation]
GO
ALTER TABLE [dbo].[Review]  WITH CHECK ADD  CONSTRAINT [FK_Review_Book] FOREIGN KEY([book_id])
REFERENCES [dbo].[Book] ([book_id])
GO
ALTER TABLE [dbo].[Review] CHECK CONSTRAINT [FK_Review_Book]
GO
ALTER TABLE [dbo].[Review]  WITH CHECK ADD  CONSTRAINT [FK_Review_Reader] FOREIGN KEY([reader_id])
REFERENCES [dbo].[Reader] ([reader_id])
GO
ALTER TABLE [dbo].[Review] CHECK CONSTRAINT [FK_Review_Reader]
GO
USE [master]
GO
