USE [master]
GO
/****** Object:  Database [DigitalLibraryDB]    Script Date: 2/5/2026 10:14:31 AM ******/
CREATE DATABASE [DigitalLibraryDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DigitalLibraryDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\DigitalLibraryDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DigitalLibraryDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\DigitalLibraryDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DigitalLibraryDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DigitalLibraryDB]
GO
/****** Object:  Table [dbo].[Author]    Script Date: 2/5/2026 10:14:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Author](
	[author_id] [int] IDENTITY(1,1) NOT NULL,
	[author_name] [nvarchar](255) NOT NULL,
	[bio] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[author_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Book]    Script Date: 2/5/2026 10:14:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Book](
	[book_id] [int] IDENTITY(1,1) NOT NULL,
	[title] [nvarchar](255) NOT NULL,
	[summary] [nvarchar](max) NULL,
	[description] [nvarchar](max) NULL,
	[cover_url] [nvarchar](255) NULL,
	[content_path] [nvarchar](500) NULL,
	[price] [decimal](10, 2) NULL,
	[currency] [nvarchar](10) NULL,
	[total_pages] [int] NULL,
	[preview_pages] [int] NULL,
	[status] [nvarchar](50) NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NULL,
	[author_id] [int] NULL,
	[category_id] [int] NULL,
	[created_by] [int] NULL,
	[updated_by] [int] NULL,
 CONSTRAINT [PK__Book__490D1AE1E6075C4A] PRIMARY KEY CLUSTERED 
(
	[book_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BookCopy]    Script Date: 2/5/2026 10:14:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BookCopy](
	[copy_id] [int] IDENTITY(1,1) NOT NULL,
	[book_id] [int] NOT NULL,
	[copy_code] [nvarchar](100) NOT NULL,
	[status] [nvarchar](30) NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[copy_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Bookmark]    Script Date: 2/5/2026 10:14:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bookmark](
	[bookmark_id] [int] IDENTITY(1,1) NOT NULL,
	[reader_id] [int] NOT NULL,
	[book_id] [int] NOT NULL,
	[page_number] [int] NOT NULL,
	[note] [nvarchar](max) NULL,
	[created_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[bookmark_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Borrow]    Script Date: 2/5/2026 10:14:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Borrow](
	[borrow_id] [int] IDENTITY(1,1) NOT NULL,
	[reader_id] [int] NOT NULL,
	[request_id] [int] NULL,
	[borrow_date] [datetime2](7) NOT NULL,
	[status] [nvarchar](30) NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
	[approved_by_employee_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[borrow_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Borrow_Extend]    Script Date: 2/5/2026 10:14:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Borrow_Extend](
	[extend_id] [int] IDENTITY(1,1) NOT NULL,
	[borrow_item_id] [int] NOT NULL,
	[old_due_date] [datetime2](7) NOT NULL,
	[requested_due_date] [datetime2](7) NOT NULL,
	[approved_due_date] [datetime2](7) NULL,
	[status] [nvarchar](30) NOT NULL,
	[requested_at] [datetime2](7) NOT NULL,
	[processed_at] [datetime2](7) NULL,
	[decision_note] [nvarchar](max) NULL,
	[approved_by_employee_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[extend_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Borrow_Item]    Script Date: 2/5/2026 10:14:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Borrow_Item](
	[borrow_item_id] [int] IDENTITY(1,1) NOT NULL,
	[borrow_id] [int] NOT NULL,
	[copy_id] [int] NOT NULL,
	[due_date] [datetime2](7) NOT NULL,
	[returned_at] [datetime2](7) NULL,
	[status] [nvarchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[borrow_item_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Borrow_Request]    Script Date: 2/5/2026 10:14:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Borrow_Request](
	[request_id] [int] IDENTITY(1,1) NOT NULL,
	[reader_id] [int] NOT NULL,
	[status] [nvarchar](30) NOT NULL,
	[requested_at] [datetime2](7) NOT NULL,
	[note] [nvarchar](max) NULL,
	[processed_by_employee_id] [int] NULL,
	[processed_at] [datetime2](7) NULL,
	[decision_note] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[request_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Borrow_Request_Item]    Script Date: 2/5/2026 10:14:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Borrow_Request_Item](
	[request_item_id] [int] IDENTITY(1,1) NOT NULL,
	[request_id] [int] NOT NULL,
	[book_id] [int] NOT NULL,
	[quantity] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[request_item_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cart]    Script Date: 2/5/2026 10:14:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cart](
	[cart_id] [int] IDENTITY(1,1) NOT NULL,
	[reader_id] [int] NOT NULL,
	[status] [nvarchar](30) NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[cart_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cart_Item]    Script Date: 2/5/2026 10:14:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cart_Item](
	[cart_item_id] [int] IDENTITY(1,1) NOT NULL,
	[cart_id] [int] NOT NULL,
	[book_id] [int] NOT NULL,
	[quantity] [int] NOT NULL,
	[added_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[cart_item_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 2/5/2026 10:14:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[category_id] [int] IDENTITY(1,1) NOT NULL,
	[category_name] [nvarchar](255) NOT NULL,
	[description] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[category_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employee]    Script Date: 2/5/2026 10:14:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employee](
	[employee_id] [int] IDENTITY(1,1) NOT NULL,
	[full_name] [nvarchar](255) NULL,
	[email] [nvarchar](255) NOT NULL,
	[password_hash] [nvarchar](255) NOT NULL,
	[status] [nvarchar](50) NULL,
	[created_at] [datetime2](7) NOT NULL,
	[role_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[employee_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Fine]    Script Date: 2/5/2026 10:14:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Fine](
	[fine_id] [int] IDENTITY(1,1) NOT NULL,
	[reader_id] [int] NOT NULL,
	[borrow_item_id] [int] NOT NULL,
	[fine_type_id] [int] NOT NULL,
	[amount] [decimal](10, 2) NOT NULL,
	[reason] [nvarchar](max) NULL,
	[status] [nvarchar](30) NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
	[paid_at] [datetime2](7) NULL,
	[handled_by_employee_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[fine_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Fine_Type]    Script Date: 2/5/2026 10:14:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Fine_Type](
	[fine_type_id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[description] [nvarchar](max) NULL,
	[default_amount] [decimal](10, 2) NULL,
	[per_day_rate] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[fine_type_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notification]    Script Date: 2/5/2026 10:14:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notification](
	[notification_id] [int] IDENTITY(1,1) NOT NULL,
	[reader_id] [int] NOT NULL,
	[title] [nvarchar](255) NOT NULL,
	[message] [nvarchar](max) NULL,
	[type] [nvarchar](30) NULL,
	[is_read] [bit] NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[notification_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order]    Script Date: 2/5/2026 10:14:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[order_id] [int] IDENTITY(1,1) NOT NULL,
	[reader_id] [int] NOT NULL,
	[total_amount] [decimal](10, 2) NOT NULL,
	[currency] [nvarchar](10) NULL,
	[status] [nvarchar](30) NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[order_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order_Book]    Script Date: 2/5/2026 10:14:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order_Book](
	[order_book_id] [int] IDENTITY(1,1) NOT NULL,
	[order_id] [int] NOT NULL,
	[book_id] [int] NOT NULL,
	[price] [decimal](10, 2) NOT NULL,
	[quantity] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[order_book_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Password_Reset]    Script Date: 2/5/2026 10:14:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Password_Reset](
	[reset_id] [int] IDENTITY(1,1) NOT NULL,
	[user_type] [nvarchar](20) NOT NULL,
	[user_id] [int] NOT NULL,
	[token] [nvarchar](255) NOT NULL,
	[expired_at] [datetime2](7) NOT NULL,
	[used] [bit] NULL,
	[created_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[reset_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payment]    Script Date: 2/5/2026 10:14:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payment](
	[payment_id] [int] IDENTITY(1,1) NOT NULL,
	[order_id] [int] NOT NULL,
	[amount] [decimal](10, 2) NOT NULL,
	[payment_method] [nvarchar](50) NULL,
	[payment_status] [nvarchar](30) NOT NULL,
	[transaction_code] [nvarchar](100) NULL,
	[paid_at] [datetime2](7) NULL,
	[created_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[payment_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reader]    Script Date: 2/5/2026 10:14:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reader](
	[reader_id] [int] IDENTITY(1,1) NOT NULL,
	[full_name] [nvarchar](255) NULL,
	[email] [nvarchar](255) NOT NULL,
	[password_hash] [nvarchar](255) NOT NULL,
	[phone] [nvarchar](30) NULL,
	[avatar] [nvarchar](255) NULL,
	[status] [nvarchar](50) NULL,
	[created_at] [datetime2](7) NOT NULL,
	[role_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[reader_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reader_Account]    Script Date: 2/5/2026 10:14:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reader_Account](
	[account_id] [int] IDENTITY(1,1) NOT NULL,
	[reader_id] [int] NOT NULL,
	[provider] [nvarchar](50) NOT NULL,
	[provider_user_id] [nvarchar](255) NULL,
	[created_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[account_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reader_Book_Ownership]    Script Date: 2/5/2026 10:14:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reader_Book_Ownership](
	[ownership_id] [int] IDENTITY(1,1) NOT NULL,
	[reader_id] [int] NOT NULL,
	[book_id] [int] NOT NULL,
	[acquired_at] [datetime2](7) NOT NULL,
	[acquired_via] [nvarchar](30) NULL,
	[status] [nvarchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[ownership_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reading_History]    Script Date: 2/5/2026 10:14:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reading_History](
	[history_id] [int] IDENTITY(1,1) NOT NULL,
	[reader_id] [int] NOT NULL,
	[book_id] [int] NOT NULL,
	[last_read_position] [int] NULL,
	[last_read_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[history_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reservation]    Script Date: 2/5/2026 10:14:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reservation](
	[reservation_id] [int] IDENTITY(1,1) NOT NULL,
	[reader_id] [int] NOT NULL,
	[status] [nvarchar](30) NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
	[expires_at] [datetime2](7) NULL,
	[fulfilled_at] [datetime2](7) NULL,
	[note] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[reservation_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reservation_Item]    Script Date: 2/5/2026 10:14:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reservation_Item](
	[reservation_item_id] [int] IDENTITY(1,1) NOT NULL,
	[reservation_id] [int] NOT NULL,
	[book_id] [int] NOT NULL,
	[quantity] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[reservation_item_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Review]    Script Date: 2/5/2026 10:14:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Review](
	[review_id] [int] IDENTITY(1,1) NOT NULL,
	[reader_id] [int] NOT NULL,
	[book_id] [int] NOT NULL,
	[rating] [int] NULL,
	[comment] [nvarchar](max) NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[review_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 2/5/2026 10:14:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[role_id] [int] IDENTITY(1,1) NOT NULL,
	[role_name] [nvarchar](30) NOT NULL,
	[description] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[role_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Author] ON 

INSERT [dbo].[Author] ([author_id], [author_name], [bio]) VALUES (1, N'Nguyễn Nhật Ánh', N'Nguyễn Nhật Ánh (sinh ngày 7 tháng 5 năm 1955)[1] là một nam nhà văn người Việt Nam. Được xem là một trong những nhà văn hiện đại xuất sắc nhất Việt Nam hiện nay, ông được biết đến qua nhiều tác phẩm văn học về đề tài tuổi trẻ. Nhiều tác phẩm của ông được nhiều thế hệ độc giả yêu mến và giới chuyên môn đánh giá cao, được chuyển thể thành phim và kịch nói.')
SET IDENTITY_INSERT [dbo].[Author] OFF
GO
SET IDENTITY_INSERT [dbo].[Book] ON 

SET IDENTITY_INSERT [dbo].[Book] OFF
GO
SET IDENTITY_INSERT [dbo].[BookCopy] ON 

INSERT [dbo].[BookCopy] ([copy_id], [book_id], [copy_code], [status], [created_at]) VALUES (1, 1, N'CP01', N'BORROWED', CAST(N'2026-01-30T17:48:58.6460000' AS DateTime2))
INSERT [dbo].[BookCopy] ([copy_id], [book_id], [copy_code], [status], [created_at]) VALUES (2, 1, N'CP02', N'INACTIVE', CAST(N'2026-01-30T17:53:19.9980000' AS DateTime2))
INSERT [dbo].[BookCopy] ([copy_id], [book_id], [copy_code], [status], [created_at]) VALUES (3, 6, N'CP03', N'AVAILABLE', CAST(N'2026-02-02T11:33:31.7850000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[BookCopy] OFF
GO
SET IDENTITY_INSERT [dbo].[Category] ON 

INSERT [dbo].[Category] ([category_id], [category_name], [description]) VALUES (1, N'Tiểu thuyết', N'Tác phẩm dài, cốt truyện sâu, phản ánh đời sống, tâm lý con người.')
INSERT [dbo].[Category] ([category_id], [category_name], [description]) VALUES (2, N'Truyện ngắn', N'Câu chuyện ngắn gọn, súc tích, thường tập trung vào một khoảnh khắc hay ý nghĩa.')
INSERT [dbo].[Category] ([category_id], [category_name], [description]) VALUES (3, N'Thơ', N'Sử dụng ngôn từ giàu hình ảnh, cảm xúc, nhịp điệu.')
SET IDENTITY_INSERT [dbo].[Category] OFF
GO
SET IDENTITY_INSERT [dbo].[Employee] ON 

INSERT [dbo].[Employee] ([employee_id], [full_name], [email], [password_hash], [status], [created_at], [role_id]) VALUES (7, N'Ngoc Nhat', N'nhatngoc@gmail.com', N'$2a$10$Bn/qVrdJcIH6Uy0ecbQBjOxR.93fGCbiglc2Q262Q5QE2.tHulH/u', N'active', CAST(N'2026-01-30T09:23:51.5920388' AS DateTime2), 2)
INSERT [dbo].[Employee] ([employee_id], [full_name], [email], [password_hash], [status], [created_at], [role_id]) VALUES (10, N'Nhat Ngoc', N'nhatngocvip@gmail.com', N'$2a$10$BAHvCSkLlT8hXC3.da/lQeY4WbD.FCBViehDxbhxm9e7oFRyCPQF2', N'active', CAST(N'2026-01-30T09:30:11.1419766' AS DateTime2), 1)
SET IDENTITY_INSERT [dbo].[Employee] OFF
GO
SET IDENTITY_INSERT [dbo].[Password_Reset] ON 

INSERT [dbo].[Password_Reset] ([reset_id], [user_type], [user_id], [token], [expired_at], [used], [created_at]) VALUES (1, N'READER', 16, N'0a26b5ef-ebfb-4eb2-b056-8783f030a855', CAST(N'2026-02-04T21:15:53.7959936' AS DateTime2), 0, CAST(N'2026-02-04T21:00:53.7959936' AS DateTime2))
INSERT [dbo].[Password_Reset] ([reset_id], [user_type], [user_id], [token], [expired_at], [used], [created_at]) VALUES (2, N'READER', 19, N'098d881a-b15b-4b22-9598-17ebb14a07d1', CAST(N'2026-02-04T21:26:41.8772549' AS DateTime2), 0, CAST(N'2026-02-04T21:11:41.8772549' AS DateTime2))
INSERT [dbo].[Password_Reset] ([reset_id], [user_type], [user_id], [token], [expired_at], [used], [created_at]) VALUES (3, N'READER', 19, N'bdc443be-8af1-472f-ae9a-334f34dbb53c', CAST(N'2026-02-04T21:27:12.6391980' AS DateTime2), 0, CAST(N'2026-02-04T21:12:12.6391980' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Password_Reset] OFF
GO
SET IDENTITY_INSERT [dbo].[Reader] ON 

INSERT [dbo].[Reader] ([reader_id], [full_name], [email], [password_hash], [phone], [avatar], [status], [created_at], [role_id]) VALUES (8, N'Nhat Ngoc', N'nhatngocvip@gmail.com', N'$2a$12$5LzZCnqCPGIT3mtV8qB4SO1paFC12.bw1FNhVQzgrxWAYXMa0FxQ2', N'0973108807', N'', N'active', CAST(N'2026-01-29T04:31:27.9561846' AS DateTime2), 2)
INSERT [dbo].[Reader] ([reader_id], [full_name], [email], [password_hash], [phone], [avatar], [status], [created_at], [role_id]) VALUES (9, N'Ngoc Nhat', N'nhatngoc@gmail.com', N'$2a$10$Bn/qVrdJcIH6Uy0ecbQBjOxR.93fGCbiglc2Q262Q5QE2.tHulH/u', N'0333740740', N'', N'active', CAST(N'2026-01-29T04:36:00.1272705' AS DateTime2), 2)
INSERT [dbo].[Reader] ([reader_id], [full_name], [email], [password_hash], [phone], [avatar], [status], [created_at], [role_id]) VALUES (11, N'Phương Thảo', N'thao@gmail.com', N'$2a$10$.KQFNaQFeSvu1JY2kCrp8OeCTPp6C2RctZBDA9tDCUQTRVMYIIt42', N'0987654321', NULL, N'active', CAST(N'2026-01-30T08:13:59.5484946' AS DateTime2), 3)
SET IDENTITY_INSERT [dbo].[Reader] OFF
GO
SET IDENTITY_INSERT [dbo].[Role] ON 

INSERT [dbo].[Role] ([role_id], [role_name], [description]) VALUES (1, N'ADMIN', N'Administrator')
INSERT [dbo].[Role] ([role_id], [role_name], [description]) VALUES (2, N'LIBRARIAN', N'Librarian')
INSERT [dbo].[Role] ([role_id], [role_name], [description]) VALUES (3, N'READER', N'Normal user')
SET IDENTITY_INSERT [dbo].[Role] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__BookCopy__5196394F178D9124]    Script Date: 2/5/2026 10:14:32 AM ******/
ALTER TABLE [dbo].[BookCopy] ADD UNIQUE NONCLUSTERED 
(
	[copy_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__BookCopy__5196394F751E86EE]    Script Date: 2/5/2026 10:14:32 AM ******/
ALTER TABLE [dbo].[BookCopy] ADD UNIQUE NONCLUSTERED 
(
	[copy_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__Borrow__18D3B90E0D2D2DDC]    Script Date: 2/5/2026 10:14:32 AM ******/
ALTER TABLE [dbo].[Borrow] ADD UNIQUE NONCLUSTERED 
(
	[request_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__Borrow__18D3B90E342783DF]    Script Date: 2/5/2026 10:14:32 AM ******/
ALTER TABLE [dbo].[Borrow] ADD UNIQUE NONCLUSTERED 
(
	[request_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Employee__AB6E61641F8321E1]    Script Date: 2/5/2026 10:14:32 AM ******/
ALTER TABLE [dbo].[Employee] ADD UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Employee__AB6E6164CA9CA015]    Script Date: 2/5/2026 10:14:32 AM ******/
ALTER TABLE [dbo].[Employee] ADD UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Reader__AB6E61643CC00264]    Script Date: 2/5/2026 10:14:32 AM ******/
ALTER TABLE [dbo].[Reader] ADD UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Reader__AB6E6164E8FB97C7]    Script Date: 2/5/2026 10:14:32 AM ******/
ALTER TABLE [dbo].[Reader] ADD UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Role__783254B1973AEF57]    Script Date: 2/5/2026 10:14:32 AM ******/
ALTER TABLE [dbo].[Role] ADD UNIQUE NONCLUSTERED 
(
	[role_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Role__783254B1B3422919]    Script Date: 2/5/2026 10:14:32 AM ******/
ALTER TABLE [dbo].[Role] ADD UNIQUE NONCLUSTERED 
(
	[role_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Book] ADD  CONSTRAINT [DF__Book__created_at__6E01572D]  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[BookCopy] ADD  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[Bookmark] ADD  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[Borrow] ADD  DEFAULT (sysutcdatetime()) FOR [borrow_date]
GO
ALTER TABLE [dbo].[Borrow] ADD  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[Borrow_Extend] ADD  DEFAULT (sysutcdatetime()) FOR [requested_at]
GO
ALTER TABLE [dbo].[Borrow_Request] ADD  DEFAULT (sysutcdatetime()) FOR [requested_at]
GO
ALTER TABLE [dbo].[Borrow_Request_Item] ADD  DEFAULT ((1)) FOR [quantity]
GO
ALTER TABLE [dbo].[Cart] ADD  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[Cart_Item] ADD  DEFAULT ((1)) FOR [quantity]
GO
ALTER TABLE [dbo].[Cart_Item] ADD  DEFAULT (sysutcdatetime()) FOR [added_at]
GO
ALTER TABLE [dbo].[Employee] ADD  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[Fine] ADD  DEFAULT ((0)) FOR [amount]
GO
ALTER TABLE [dbo].[Fine] ADD  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[Notification] ADD  DEFAULT ((0)) FOR [is_read]
GO
ALTER TABLE [dbo].[Notification] ADD  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[Order] ADD  DEFAULT ((0)) FOR [total_amount]
GO
ALTER TABLE [dbo].[Order] ADD  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[Order_Book] ADD  DEFAULT ((0)) FOR [price]
GO
ALTER TABLE [dbo].[Order_Book] ADD  DEFAULT ((1)) FOR [quantity]
GO
ALTER TABLE [dbo].[Password_Reset] ADD  DEFAULT ((0)) FOR [used]
GO
ALTER TABLE [dbo].[Payment] ADD  DEFAULT ((0)) FOR [amount]
GO
ALTER TABLE [dbo].[Payment] ADD  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[Reader] ADD  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[Reader_Account] ADD  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[Reader_Book_Ownership] ADD  DEFAULT (sysutcdatetime()) FOR [acquired_at]
GO
ALTER TABLE [dbo].[Reservation] ADD  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[Reservation_Item] ADD  DEFAULT ((1)) FOR [quantity]
GO
ALTER TABLE [dbo].[Review] ADD  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[Book]  WITH CHECK ADD  CONSTRAINT [FK_Book_Author] FOREIGN KEY([author_id])
REFERENCES [dbo].[Author] ([author_id])
GO
ALTER TABLE [dbo].[Book] CHECK CONSTRAINT [FK_Book_Author]
GO
ALTER TABLE [dbo].[Book]  WITH CHECK ADD  CONSTRAINT [FK_Book_Category] FOREIGN KEY([category_id])
REFERENCES [dbo].[Category] ([category_id])
GO
ALTER TABLE [dbo].[Book] CHECK CONSTRAINT [FK_Book_Category]
GO
ALTER TABLE [dbo].[Book]  WITH CHECK ADD  CONSTRAINT [FK_Book_CreatedBy] FOREIGN KEY([created_by])
REFERENCES [dbo].[Employee] ([employee_id])
GO
ALTER TABLE [dbo].[Book] CHECK CONSTRAINT [FK_Book_CreatedBy]
GO
ALTER TABLE [dbo].[Book]  WITH CHECK ADD  CONSTRAINT [FK_Book_UpdatedBy] FOREIGN KEY([updated_by])
REFERENCES [dbo].[Employee] ([employee_id])
GO
ALTER TABLE [dbo].[Book] CHECK CONSTRAINT [FK_Book_UpdatedBy]
GO
ALTER TABLE [dbo].[BookCopy]  WITH CHECK ADD  CONSTRAINT [FK_BookCopy_Book] FOREIGN KEY([book_id])
REFERENCES [dbo].[Book] ([book_id])
GO
ALTER TABLE [dbo].[BookCopy] CHECK CONSTRAINT [FK_BookCopy_Book]
GO
ALTER TABLE [dbo].[Bookmark]  WITH CHECK ADD  CONSTRAINT [FK_Bookmark_Book] FOREIGN KEY([book_id])
REFERENCES [dbo].[Book] ([book_id])
GO
ALTER TABLE [dbo].[Bookmark] CHECK CONSTRAINT [FK_Bookmark_Book]
GO
ALTER TABLE [dbo].[Bookmark]  WITH CHECK ADD  CONSTRAINT [FK_Bookmark_Reader] FOREIGN KEY([reader_id])
REFERENCES [dbo].[Reader] ([reader_id])
GO
ALTER TABLE [dbo].[Bookmark] CHECK CONSTRAINT [FK_Bookmark_Reader]
GO
ALTER TABLE [dbo].[Borrow]  WITH CHECK ADD  CONSTRAINT [FK_Borrow_ApprovedBy] FOREIGN KEY([approved_by_employee_id])
REFERENCES [dbo].[Employee] ([employee_id])
GO
ALTER TABLE [dbo].[Borrow] CHECK CONSTRAINT [FK_Borrow_ApprovedBy]
GO
ALTER TABLE [dbo].[Borrow]  WITH CHECK ADD  CONSTRAINT [FK_Borrow_Reader] FOREIGN KEY([reader_id])
REFERENCES [dbo].[Reader] ([reader_id])
GO
ALTER TABLE [dbo].[Borrow] CHECK CONSTRAINT [FK_Borrow_Reader]
GO
ALTER TABLE [dbo].[Borrow]  WITH CHECK ADD  CONSTRAINT [FK_Borrow_Request] FOREIGN KEY([request_id])
REFERENCES [dbo].[Borrow_Request] ([request_id])
GO
ALTER TABLE [dbo].[Borrow] CHECK CONSTRAINT [FK_Borrow_Request]
GO
ALTER TABLE [dbo].[Borrow_Extend]  WITH CHECK ADD  CONSTRAINT [FK_Extend_ApprovedBy] FOREIGN KEY([approved_by_employee_id])
REFERENCES [dbo].[Employee] ([employee_id])
GO
ALTER TABLE [dbo].[Borrow_Extend] CHECK CONSTRAINT [FK_Extend_ApprovedBy]
GO
ALTER TABLE [dbo].[Borrow_Extend]  WITH CHECK ADD  CONSTRAINT [FK_Extend_BorrowItem] FOREIGN KEY([borrow_item_id])
REFERENCES [dbo].[Borrow_Item] ([borrow_item_id])
GO
ALTER TABLE [dbo].[Borrow_Extend] CHECK CONSTRAINT [FK_Extend_BorrowItem]
GO
ALTER TABLE [dbo].[Borrow_Item]  WITH CHECK ADD  CONSTRAINT [FK_BorrowItem_Borrow] FOREIGN KEY([borrow_id])
REFERENCES [dbo].[Borrow] ([borrow_id])
GO
ALTER TABLE [dbo].[Borrow_Item] CHECK CONSTRAINT [FK_BorrowItem_Borrow]
GO
ALTER TABLE [dbo].[Borrow_Item]  WITH CHECK ADD  CONSTRAINT [FK_BorrowItem_Copy] FOREIGN KEY([copy_id])
REFERENCES [dbo].[BookCopy] ([copy_id])
GO
ALTER TABLE [dbo].[Borrow_Item] CHECK CONSTRAINT [FK_BorrowItem_Copy]
GO
ALTER TABLE [dbo].[Borrow_Request]  WITH CHECK ADD  CONSTRAINT [FK_BorrowRequest_ProcessedBy] FOREIGN KEY([processed_by_employee_id])
REFERENCES [dbo].[Employee] ([employee_id])
GO
ALTER TABLE [dbo].[Borrow_Request] CHECK CONSTRAINT [FK_BorrowRequest_ProcessedBy]
GO
ALTER TABLE [dbo].[Borrow_Request]  WITH CHECK ADD  CONSTRAINT [FK_BorrowRequest_Reader] FOREIGN KEY([reader_id])
REFERENCES [dbo].[Reader] ([reader_id])
GO
ALTER TABLE [dbo].[Borrow_Request] CHECK CONSTRAINT [FK_BorrowRequest_Reader]
GO
ALTER TABLE [dbo].[Borrow_Request_Item]  WITH CHECK ADD  CONSTRAINT [FK_BRItem_Book] FOREIGN KEY([book_id])
REFERENCES [dbo].[Book] ([book_id])
GO
ALTER TABLE [dbo].[Borrow_Request_Item] CHECK CONSTRAINT [FK_BRItem_Book]
GO
ALTER TABLE [dbo].[Borrow_Request_Item]  WITH CHECK ADD  CONSTRAINT [FK_BRItem_Request] FOREIGN KEY([request_id])
REFERENCES [dbo].[Borrow_Request] ([request_id])
GO
ALTER TABLE [dbo].[Borrow_Request_Item] CHECK CONSTRAINT [FK_BRItem_Request]
GO
ALTER TABLE [dbo].[Cart]  WITH CHECK ADD  CONSTRAINT [FK_Cart_Reader] FOREIGN KEY([reader_id])
REFERENCES [dbo].[Reader] ([reader_id])
GO
ALTER TABLE [dbo].[Cart] CHECK CONSTRAINT [FK_Cart_Reader]
GO
ALTER TABLE [dbo].[Cart_Item]  WITH CHECK ADD  CONSTRAINT [FK_CartItem_Book] FOREIGN KEY([book_id])
REFERENCES [dbo].[Book] ([book_id])
GO
ALTER TABLE [dbo].[Cart_Item] CHECK CONSTRAINT [FK_CartItem_Book]
GO
ALTER TABLE [dbo].[Cart_Item]  WITH CHECK ADD  CONSTRAINT [FK_CartItem_Cart] FOREIGN KEY([cart_id])
REFERENCES [dbo].[Cart] ([cart_id])
GO
ALTER TABLE [dbo].[Cart_Item] CHECK CONSTRAINT [FK_CartItem_Cart]
GO
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD  CONSTRAINT [FK_Employee_Role] FOREIGN KEY([role_id])
REFERENCES [dbo].[Role] ([role_id])
GO
ALTER TABLE [dbo].[Employee] CHECK CONSTRAINT [FK_Employee_Role]
GO
ALTER TABLE [dbo].[Fine]  WITH CHECK ADD  CONSTRAINT [FK_Fine_BorrowItem] FOREIGN KEY([borrow_item_id])
REFERENCES [dbo].[Borrow_Item] ([borrow_item_id])
GO
ALTER TABLE [dbo].[Fine] CHECK CONSTRAINT [FK_Fine_BorrowItem]
GO
ALTER TABLE [dbo].[Fine]  WITH CHECK ADD  CONSTRAINT [FK_Fine_HandledBy] FOREIGN KEY([handled_by_employee_id])
REFERENCES [dbo].[Employee] ([employee_id])
GO
ALTER TABLE [dbo].[Fine] CHECK CONSTRAINT [FK_Fine_HandledBy]
GO
ALTER TABLE [dbo].[Fine]  WITH CHECK ADD  CONSTRAINT [FK_Fine_Reader] FOREIGN KEY([reader_id])
REFERENCES [dbo].[Reader] ([reader_id])
GO
ALTER TABLE [dbo].[Fine] CHECK CONSTRAINT [FK_Fine_Reader]
GO
ALTER TABLE [dbo].[Fine]  WITH CHECK ADD  CONSTRAINT [FK_Fine_Type] FOREIGN KEY([fine_type_id])
REFERENCES [dbo].[Fine_Type] ([fine_type_id])
GO
ALTER TABLE [dbo].[Fine] CHECK CONSTRAINT [FK_Fine_Type]
GO
ALTER TABLE [dbo].[Notification]  WITH CHECK ADD  CONSTRAINT [FK_Notification_Reader] FOREIGN KEY([reader_id])
REFERENCES [dbo].[Reader] ([reader_id])
GO
ALTER TABLE [dbo].[Notification] CHECK CONSTRAINT [FK_Notification_Reader]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_Reader] FOREIGN KEY([reader_id])
REFERENCES [dbo].[Reader] ([reader_id])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_Reader]
GO
ALTER TABLE [dbo].[Order_Book]  WITH CHECK ADD  CONSTRAINT [FK_OrderBook_Book] FOREIGN KEY([book_id])
REFERENCES [dbo].[Book] ([book_id])
GO
ALTER TABLE [dbo].[Order_Book] CHECK CONSTRAINT [FK_OrderBook_Book]
GO
ALTER TABLE [dbo].[Order_Book]  WITH CHECK ADD  CONSTRAINT [FK_OrderBook_Order] FOREIGN KEY([order_id])
REFERENCES [dbo].[Order] ([order_id])
GO
ALTER TABLE [dbo].[Order_Book] CHECK CONSTRAINT [FK_OrderBook_Order]
GO
ALTER TABLE [dbo].[Payment]  WITH CHECK ADD  CONSTRAINT [FK_Payment_Order] FOREIGN KEY([order_id])
REFERENCES [dbo].[Order] ([order_id])
GO
ALTER TABLE [dbo].[Payment] CHECK CONSTRAINT [FK_Payment_Order]
GO
ALTER TABLE [dbo].[Reader]  WITH CHECK ADD  CONSTRAINT [FK_Reader_Role] FOREIGN KEY([role_id])
REFERENCES [dbo].[Role] ([role_id])
GO
ALTER TABLE [dbo].[Reader] CHECK CONSTRAINT [FK_Reader_Role]
GO
ALTER TABLE [dbo].[Reader_Account]  WITH CHECK ADD  CONSTRAINT [FK_ReaderAccount_Reader] FOREIGN KEY([reader_id])
REFERENCES [dbo].[Reader] ([reader_id])
GO
ALTER TABLE [dbo].[Reader_Account] CHECK CONSTRAINT [FK_ReaderAccount_Reader]
GO
ALTER TABLE [dbo].[Reader_Book_Ownership]  WITH CHECK ADD  CONSTRAINT [FK_Ownership_Book] FOREIGN KEY([book_id])
REFERENCES [dbo].[Book] ([book_id])
GO
ALTER TABLE [dbo].[Reader_Book_Ownership] CHECK CONSTRAINT [FK_Ownership_Book]
GO
ALTER TABLE [dbo].[Reader_Book_Ownership]  WITH CHECK ADD  CONSTRAINT [FK_Ownership_Reader] FOREIGN KEY([reader_id])
REFERENCES [dbo].[Reader] ([reader_id])
GO
ALTER TABLE [dbo].[Reader_Book_Ownership] CHECK CONSTRAINT [FK_Ownership_Reader]
GO
ALTER TABLE [dbo].[Reading_History]  WITH CHECK ADD  CONSTRAINT [FK_ReadHistory_Book] FOREIGN KEY([book_id])
REFERENCES [dbo].[Book] ([book_id])
GO
ALTER TABLE [dbo].[Reading_History] CHECK CONSTRAINT [FK_ReadHistory_Book]
GO
ALTER TABLE [dbo].[Reading_History]  WITH CHECK ADD  CONSTRAINT [FK_ReadHistory_Reader] FOREIGN KEY([reader_id])
REFERENCES [dbo].[Reader] ([reader_id])
GO
ALTER TABLE [dbo].[Reading_History] CHECK CONSTRAINT [FK_ReadHistory_Reader]
GO
ALTER TABLE [dbo].[Reservation]  WITH CHECK ADD  CONSTRAINT [FK_Reservation_Reader] FOREIGN KEY([reader_id])
REFERENCES [dbo].[Reader] ([reader_id])
GO
ALTER TABLE [dbo].[Reservation] CHECK CONSTRAINT [FK_Reservation_Reader]
GO
ALTER TABLE [dbo].[Reservation_Item]  WITH CHECK ADD  CONSTRAINT [FK_ReservationItem_Book] FOREIGN KEY([book_id])
REFERENCES [dbo].[Book] ([book_id])
GO
ALTER TABLE [dbo].[Reservation_Item] CHECK CONSTRAINT [FK_ReservationItem_Book]
GO
ALTER TABLE [dbo].[Reservation_Item]  WITH CHECK ADD  CONSTRAINT [FK_ReservationItem_Reservation] FOREIGN KEY([reservation_id])
REFERENCES [dbo].[Reservation] ([reservation_id])
GO
ALTER TABLE [dbo].[Reservation_Item] CHECK CONSTRAINT [FK_ReservationItem_Reservation]
GO
ALTER TABLE [dbo].[Review]  WITH CHECK ADD  CONSTRAINT [FK_Review_Book] FOREIGN KEY([book_id])
REFERENCES [dbo].[Book] ([book_id])
GO
ALTER TABLE [dbo].[Review] CHECK CONSTRAINT [FK_Review_Book]
GO
ALTER TABLE [dbo].[Review]  WITH CHECK ADD  CONSTRAINT [FK_Review_Reader] FOREIGN KEY([reader_id])
REFERENCES [dbo].[Reader] ([reader_id])
GO
ALTER TABLE [dbo].[Review] CHECK CONSTRAINT [FK_Review_Reader]
GO
USE [master]
GO



USE [DigitalLibraryDB];
GO

/* =========================================================
   1) FAVORITES (Reader yêu thích sách)
   URL: /reader/favorites
   ========================================================= */

IF OBJECT_ID('dbo.Favorite', 'U') IS NULL
BEGIN
    CREATE TABLE dbo.Favorite (
        favorite_id INT IDENTITY(1,1) NOT NULL PRIMARY KEY,
        reader_id   INT NOT NULL,
        book_id     INT NOT NULL,
        created_at  DATETIME2(7) NOT NULL CONSTRAINT DF_Favorite_created_at DEFAULT (sysutcdatetime()),

        CONSTRAINT FK_Favorite_Reader FOREIGN KEY (reader_id) REFERENCES dbo.Reader(reader_id),
        CONSTRAINT FK_Favorite_Book   FOREIGN KEY (book_id)   REFERENCES dbo.Book(book_id),

        -- 1 reader không thể favorite 1 book 2 lần
        CONSTRAINT UQ_Favorite_Reader_Book UNIQUE (reader_id, book_id)
    );

    CREATE INDEX IX_Favorite_Reader ON dbo.Favorite(reader_id, created_at DESC);
    CREATE INDEX IX_Favorite_Book   ON dbo.Favorite(book_id, created_at DESC);
END
GO

/* =========================================================
   2) BOOK Q&A (Reader hỏi - Librarian trả lời theo từng sách)
   URL: /books/detail?id=...
   ========================================================= */

IF OBJECT_ID('dbo.Book_QA_Question', 'U') IS NULL
BEGIN
    CREATE TABLE dbo.Book_QA_Question (
        question_id    INT IDENTITY(1,1) NOT NULL PRIMARY KEY,
        book_id        INT NOT NULL,
        reader_id      INT NOT NULL,
        question_text  NVARCHAR(MAX) NOT NULL,
        status         NVARCHAR(30) NOT NULL CONSTRAINT DF_BQQ_status DEFAULT (N'OPEN'),
        created_at     DATETIME2(7) NOT NULL CONSTRAINT DF_BQQ_created_at DEFAULT (sysutcdatetime()),

        CONSTRAINT FK_BQQ_Book   FOREIGN KEY (book_id)   REFERENCES dbo.Book(book_id),
        CONSTRAINT FK_BQQ_Reader FOREIGN KEY (reader_id) REFERENCES dbo.Reader(reader_id)
    );

    CREATE INDEX IX_BQQ_Book_CreatedAt ON dbo.Book_QA_Question(book_id, created_at DESC);
    CREATE INDEX IX_BQQ_Status         ON dbo.Book_QA_Question(status, created_at DESC);
END
GO

IF OBJECT_ID('dbo.Book_QA_Answer', 'U') IS NULL
BEGIN
    CREATE TABLE dbo.Book_QA_Answer (
        answer_id     INT IDENTITY(1,1) NOT NULL PRIMARY KEY,
        question_id   INT NOT NULL,
        employee_id   INT NOT NULL,
        answer_text   NVARCHAR(MAX) NOT NULL,
        created_at    DATETIME2(7) NOT NULL CONSTRAINT DF_BQA_created_at DEFAULT (sysutcdatetime()),

        CONSTRAINT FK_BQA_Question FOREIGN KEY (question_id) REFERENCES dbo.Book_QA_Question(question_id),
        CONSTRAINT FK_BQA_Employee FOREIGN KEY (employee_id) REFERENCES dbo.Employee(employee_id)
    );

    CREATE INDEX IX_BQA_Question_CreatedAt ON dbo.Book_QA_Answer(question_id, created_at ASC);
    CREATE INDEX IX_BQA_Employee_CreatedAt ON dbo.Book_QA_Answer(employee_id, created_at DESC);
END
GO

/* =========================================================
   3) (Optional) Seed data để bạn test nhanh UI
   - Có thể bỏ qua nếu không cần
   ========================================================= */

-- Seed Favorite (chỉ insert nếu chưa tồn tại)
IF EXISTS (SELECT 1 FROM dbo.Reader WHERE reader_id = 21)
AND EXISTS (SELECT 1 FROM dbo.Book WHERE book_id = 1)
AND NOT EXISTS (SELECT 1 FROM dbo.Favorite WHERE reader_id = 21 AND book_id = 1)
BEGIN
    INSERT INTO dbo.Favorite(reader_id, book_id) VALUES (21, 1);
END

-- Seed Q&A (chỉ insert nếu chưa có câu hỏi cho book_id=1)
IF EXISTS (SELECT 1 FROM dbo.Reader WHERE reader_id = 21)
AND EXISTS (SELECT 1 FROM dbo.Employee WHERE employee_id = 7)
AND EXISTS (SELECT 1 FROM dbo.Book WHERE book_id = 1)
AND NOT EXISTS (SELECT 1 FROM dbo.Book_QA_Question WHERE book_id = 1 AND reader_id = 21)
BEGIN
    DECLARE @qid INT;

    INSERT INTO dbo.Book_QA_Question(book_id, reader_id, question_text, status)
    VALUES (1, 21, N'Cho mình hỏi sách này có bản giấy để mượn không ạ?', N'OPEN');

    SET @qid = SCOPE_IDENTITY();

    INSERT INTO dbo.Book_QA_Answer(question_id, employee_id, answer_text)
    VALUES (@qid, 7, N'Hiện có bản giấy, bạn có thể tạo yêu cầu mượn từ trang Borrow Request.');
END
GO

PRINT N'✅ Done: Added Favorite + Book_QA_Question + Book_QA_Answer';
GO



/* Book Reply */

IF OBJECT_ID('dbo.Book_QA_Reply', 'U') IS NULL
BEGIN
    CREATE TABLE dbo.Book_QA_Reply (
        reply_id INT IDENTITY(1,1) PRIMARY KEY,
        question_id INT NOT NULL,
        sender_type NVARCHAR(20) NOT NULL, -- 'READER' | 'LIBRARIAN'
        sender_reader_id INT NULL,
        sender_employee_id INT NULL,
        reply_text NVARCHAR(MAX) NOT NULL,
        created_at DATETIME2 NOT NULL DEFAULT SYSDATETIME(),

        CONSTRAINT FK_Book_QA_Reply_Question
            FOREIGN KEY (question_id) REFERENCES dbo.Book_QA_Question(question_id)
            ON DELETE CASCADE
    );

    CREATE INDEX IX_Book_QA_Reply_Question_CreatedAt
        ON dbo.Book_QA_Reply(question_id, created_at);

    -- (Tuỳ chọn) đảm bảo mỗi row chỉ có 1 sender_id hợp lệ
    -- Bạn có thể bỏ nếu muốn đơn giản
    ALTER TABLE dbo.Book_QA_Reply
    ADD CONSTRAINT CK_Book_QA_Reply_Sender
    CHECK (
        (sender_type = N'READER' AND sender_reader_id IS NOT NULL AND sender_employee_id IS NULL)
        OR
        (sender_type = N'LIBRARIAN' AND sender_employee_id IS NOT NULL AND sender_reader_id IS NULL)
    );
END
GO
